@using MemberManagement.Shared;
@if (EditedPerson == null)
{
    <div class="center-items">
        <Spinner />
    </div>
}
else
{
    <EditForm Model="@EditedPerson"
        OnValidSubmit="@HandleValidSubmit"
        OnInvalidSubmit="@HandleInvalidSubmit">
        <table id="edit-table" class="table table-bordered table-light">
            <tbody>
                <tr><td class="key-column">Last Name</td><td class="value-column"><InputText @bind-Value="@EditedPerson.LastName" id="lastName" /></td></tr>
                <tr><td class="key-column">First Name</td><td class="value-column"><InputText @bind-Value="@EditedPerson.FirstName" id="firstName" /></td></tr>
                <tr><td class="key-column">Street</td><td class="value-column"><InputText @bind-Value="@EditedPerson.Street" id="street" /></td></tr>
                <tr><td class="key-column">Housenumber</td><td class="value-column"><InputText @bind-Value="@EditedPerson.HouseNumber" id="houseNumber" /></td></tr>
                <tr><td class="key-column">Postcode</td><td class="value-column"><InputNumber @bind-Value="@EditedPerson.Postcode" id="postcode" /></td></tr>
                <tr><td class="key-column">City</td><td class="value-column"><InputText @bind-Value="@EditedPerson.City" id="city" /></td></tr>
                <tr><td class="key-column">Gender</td><td class="value-column">
                        <InputSelect @bind-Value="@EditedPerson.Gender">
                            <option value="@(Gender.None)">@(Gender.None.ToString())</option>
                            <option value="@(Gender.Male)">@(Gender.Male.ToString())</option>
                            <option value="@(Gender.Female)">@(Gender.Female.ToString())</option>
                            <option value="@(Gender.Diverse)">@(Gender.Diverse.ToString())</option>
                        </InputSelect>
                </td></tr>
                <tr><td class="key-column">Email</td><td class="value-column"><InputText @bind-Value="@EditedPerson.Email" id="email" /></td></tr>
                <tr><td class="key-column">Born on</td><td class="value-column"><InputDate @bind-Value="@EditedPerson.BornOn" id="bornOn" /></td></tr>
                <tr><td class="key-column">Joined on</td><td class="value-column"><InputDate @bind-Value="@EditedPerson.JoinedOn" id="joinedOn" /></td></tr>
                <tr><td class="key-column">Exited on</td><td class="value-column"><InputDate @bind-Value="@EditedPerson.ExitedOn" id="exitedOn" /></td></tr>
                <tr><td class="key-column">Deceased on</td><td class="value-column"><InputDate @bind-Value="@EditedPerson.DeceasedOn" id="deceasedOn" /></td></tr>
                <tr><td class="key-column">Student</td><td class="value-column"><InputCheckbox @bind-Value="@EditedPerson.IsStudent" id="isStudent" /></td></tr>
                <tr><td class="key-column">Pensioner</td><td class="value-column"><InputCheckbox @bind-Value="@EditedPerson.IsPensioner" id="isPensioner" /></td></tr>
                <tr><td class="key-column">Pays Cash</td><td class="value-column"><InputCheckbox @bind-Value="@EditedPerson.PaysCash" id="paysCash" /></td></tr>
            </tbody>
        </table>
        <div class="buttons">
            <button type="submit" class="btn btn-primary">@SubmitButtonText</button>
        </div>
    </EditForm>
}
