@page "/person/{Id:int}"


@if(Loading)
{
    <p><em>Loading...</em></p>
}
else
{
    @if (Person != null)
    {
        <BackButton/><span class="name">@(Person.LastName + ", " + Person.FirstName)</span>
        <table id="details-table" class="table table-bordered table-light">
            <tbody>
                <tr><td class="key-column">Address</td><td class="value-column">@Person.Street @Person.HouseNumber<br /> @Person.Postcode @Person.City</td></tr>
                <tr>
                    <td class="key-column">Student</td>
                    <td class="value-column">
                        @if(Person.IsStudent)
                        {
                            <CheckIcon/>
                        }
                        else
                        {
                            <BanIcon />
                        }                        
                    </td>
                </tr>
                <tr>
                    <td class="key-column">Pensioner</td>
                    <td class="value-column">
                        @if (Person.IsPensioner)
                        {
                            <CheckIcon />
                        }
                        else
                        {
                            <BanIcon />
                        }
                    </td>
                </tr>
            </tbody>
        </table>
    }
    else
    {
        <p>Person with id "@Id" not found!</p>
    }
}
